################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Programatica.Saft.Models/v15/Server/sqlite3
/.vs/Programatica.Saft.Models/v16/Server/sqlite3
